 body {
background-color:#f2f6fa;
font-family:Arial;
margin:0;
}

h1{
text-align:center;
color:#1e3a8a;
margin-top:30px;
}

section{
background:white;
max-width:800px;
margin:20px auto;
padding:20px;
border-radius:10px;
border:2px solid #dbeafe;
}

h2{
color:#2563eb;
border-bottom:2px solid #93c5fd;
}

nav{
position:sticky;
top:0;
background:white;
padding:10px;
}

.nav-list{
display:flex;
justify-content:center;
gap:20px;
list-style:none;
padding:0;
}

.nav-list a{
text-decoration:none;
font-weight:bold;
color:#333;
}

.profile-photo{
width:200px;
height:200px;
border-radius:50%;
display:block;
margin:20px auto;
object-fit:cover;
border:4px solid #2563eb;
}

#skills ul{
display:flex;
flex-wrap:wrap;
gap:10px;
list-style:none;
padding:0;
}

#skills li{
background:#eff6ff;
padding:8px 12px;
border-radius:6px;
}

#projects ul{
display:flex;
flex-wrap:wrap;
gap:15px;
list-style:none;
padding:0;
}

#projects li{
background:#eff6ff;
border:2px solid #93c5fd;
padding:12px 18px;
border-radius:8px;
}

#projects a{
text-decoration:none;
font-weight:bold;
color:#1e3a8a;
}

#connect ul{
display:flex;
gap:20px;
list-style:none;
padding:0;
}

#connect a{
background:#2563eb;
color:white;
padding:10px 15px;
border-radius:6px;
text-decoration:none;
}

footer{
text-align:center;
padding:20px;
}
 